/* -----------div tips------------- */

div.puzzle {
  background-image: url("../note_box_icons/Your-turn.png");
}

div.fyi {
 background-image: url("../note_box_icons/fyi.png");
}

div.demo {
  background-image: url("../note_box_icons/Live-code-2.png");
}

div.note {
  background-image: url("../note_box_icons/lightbulb.png");
}

div.book {
  background-image: url("../note_box_icons/book-solid.png");
}

div.github {
  background-image: url("../note_box_icons/github.png");
}

div.profile {
  background-image: url("../note_box_icons/profile.png");
}

div.bookmark {
  background-image: url("../note_box_icons/bookmark.png");
}

div.link {
  background-image: url("../note_box_icons/link-2.png");
}

div.code {
  background-image: url("../note_box_icons/code.png");
}

div.alert {
  background-image: url("../note_box_icons/alert.png");
}

div.download {
  background-image: url("../note_box_icons/download.png");
}

div.people {
  background-image: url("../note_box_icons/people-2.png");
}

div.uo {
  background-image: url("../note_box_icons/uo_logo-2.png");
}

div.clock {
  background-image: url("../note_box_icons/clock-solid.png");
}

/* Cam's custom css */

/* set colors */ 
:root {
    --main-color:#15758c;
    --main-color-dark: #0d4b59;
}

/* Header */

.navbar {
background: #fff;
}

.navbar-light .navbar-brand {
    color: #000;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: var(--main-color);
}

#navbar-main .main-menu-item ul li .nav-link {
    color: #000;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--main-color) !important;
}

.navbar .navbar-nav .nav-link.active {
    font-weight: bold !important;
    color: var(--main-color) !important;
}

.navbar .navbar-nav .nav-link.active:hover {
    font-weight: bold !important;
    color: var(--main-color-dark) !important;
}



.navbar-light .navbar-toggler {
    color: #000;
}

.navbar-collapse {
    background-color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #000;
}

/* links */
a, h3.article-title a:hover {
    color: var(--main-color);
}

a:hover, a:focus {
    color: var(--main-color-dark);
}

/* hashtags */
pre, code {
    font-family: "Source Code Pro", monospace;
    color: #d95530;
    background-color: #fce3dc;
}

/* notes */

div.puzzle, div.fyi, div.demo, div.note, div.book, div.github, div.profile, div.bookmark, div.link, div.code, div.alert, div.download, div.people, div.uo, div.clock {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 80px;
    color: #000;
    background-color: #f0f8fa;
    /*border: solid 5px #5f8e99;*/
}

/* background panels (featurettes) */
.home-section:nth-of-type(even) {
    background-color: #f0f8fa;
}

.featurette {
    color: #000;
}

.featurette-icon {
    color: var(--main-color);
}

.featurette h3 {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: inherit;
}

.portrait-title h3 {
    color: #333;
}

.article-metadata {
    color: #333;
}

.section-heading p {
    color: #333;
}

body {
    background-color: #fff !important;
}

